.main {
  width: 100%;
  flex: 1;
  padding: 30px;
}

.workspace {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

@media(max-width:900px) {
  .cards,
  .workspace {
    grid-template-columns: 1fr;
  }

}